html {
  height: 100%;
  width: 100%;
}

/* Add selectors to make the website look like the following: https://726ccf0a-6b5b-49e1-b58b-2ff592f02da7-00-33tjtum5lnyz8.teams.replit.dev/ */
/* Hints in the README */

body{
	background-color: #d1d1ff;
	font-family: 'Courier New', Courier, monospace;
}
nav{
    text-align: center;
    background-color: cornflowerblue;
	background-size: 10px;
}
#dog{
	width:70vw;
	height:25vw;
}
.color{
	color: mediumpurple;
}
.bar{
	text-align: center;
}
.pics{
	width: 30vw;
	height: 30vw;
}
